.all{
	width:100%;
	height:100%;
}
i{
	font-style: inherit;
}
/*菜单挂起*/
.caidan{
	width:100%;
	height:50px;
	background: rgba(255,255,255,.8);
	position: fixed;
	top:0;
	z-index: 999;
	display: none;
}
.cai{
	width:1190px;
	height:50px;
	margin: 0 auto;
}
.cai>.left{
	float: left;
	width:190px;
	height:38px;
	background: #f80;
	margin-top:6px;
	line-height: 38px;
}
.cai>.left>a{
	color:#fff;
	font-size: 14px;
	margin:0 0 0 10px;
}
.cai>.right{
	float: right;
	width:300px;
    margin:6px 0 0 0;
}
.cai>.right>a{
	font-size: 14px;
	width:90px;
	color:#f00;
	display: inline-block;
	margin-top:5px;
}
/*banner广告部分*/
.banner{
	width:100%;
	height: 100px;
	background:#9e74de;
	position: relative;
}
.banner .b_a{
	width:1190px;
	height:100px;
	margin:0 auto;
}
.banner .b_b{
	width: 50px;
	height: 150px;
	position: absolute;
	top: 0;
	right:0;
}
.banner .b_b span{
	width:26px;
	height:26px;
	background:rgba(0,0,0,0.2);
	display: inline-block;
	color:#fff;
	line-height: 26px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	cursor: pointer;
	right:40px;
}
/*banner广告部分end*/
.acside img{
	position: fixed;
	right: 0;
	top:0;
}
/*header 开始*/
.header{
	width:100%;
	height:110px;
	background: #fff;
}
.header header{
	width:1190px;
	height:110px;
	margin:0 auto;
}
.header header .left{
	width:350px;
	height:100px;
	float: left;	
}
.header header .left img{
	float: left;
}
.header header .right{
	width:600px;
	height:100px;
	float: left;
}
.header header .right .box,
.caidan .box{
	width:560px;
	height:42px;
	margin: 30px 0 0 0;
}
.caidan .box{
	margin-top:0;
	margin-left:90px;
	float: left;
	background: #fff;
}
.header header .right .box .boxa,
.caidan .box>.boxa{
	float: left;
    width: 410px;
    height:42px;
    padding: 0 0 0 28px;
    border: 2px solid #FA0;
    border-right: none;
    position: relative;
}
.header header .right .box .boxa i,
.caidan .box>.boxa i{
	position: absolute;
	top:10px;
	left:0;
}
.header header .right .box .boxa input,
.caidan .box>.boxa input{
	width:390px;
	height:36px;
	border: none;
	padding: 2px 10px 2px 0;
	color:#999;
}
.header header .right .box button,
.caidan .box>button{
	width:120px;
	height:46px;
	background: #fa0;
	color:#fff;
	text-align: center;
	line-height: 46px;
	border: 0;
	float: right;
	font-size: 18px;
	font-weight: bold;
}
.header header .right .box button:hover,
.caidan .box>button:hover{
	background: #f80;
}
.header header .right .box-nav{
	width: 540px;
	height:18px;
	margin-top: 8px;
    overflow: hidden;
}
.header header .right .box-nav a{
	float: left;
    white-space: nowrap;
    font-size: 12px;
    margin: 3px 0 3px -11px;
    padding: 0 20px 0 10px;
    border-left: 1px solid #ddd;
    height: 12px;
    line-height: 12px;}
.header header .right .box-nav a:hover{
    	color:#f60;
    }
/*header end*/
/*导航栏部分开始*/
.nav-bar{
	width:100%;
	height:38px;
	background: #fff;
}
.nav-barw{
	width:1190px;
	height:38px;
	margin:0 auto;
}
.nav-barw .left{
	width:190px;
	height:38px;
	float: left;
	background: #f90;
}
.nav-barw .left:hover{
	background: #f60;
}
.nav-barw .left img{
	margin:12px 0 0 10px;
    vertical-align: -2px;
}span{
	color:#fff;
	font-size: 14px;
}
.nav-barw .con{
	width:805px;
	height:38px;
	float: left;
}
.nav-barw .con li{
	padding: 0 15px 0 15px;
	height:38px;
	line-height: 38px;
	text-align: center;
	float: left;
	position: relative;
	font-size: 14px;
	font-weight: bold;
	 cursor: pointer;
}
.nav-barw .con li:hover span{
	transition: all 0.5s;
	bottom: 0;
}
.nav-barw .con li span{
	position: absolute;
    width: 25px;
    height: 8px;
    bottom: -12px;
    left: 50%;
    margin-left: -11px;
    background: url(../images/index/index.png) -37px 0;
    transition: all .5s;
}
.nav-barw a{
	width:170px;
	height: 38px;
	float: right;
}
/*主体部分开始*/
.main{
	width:100%;
	height:482px;
	overflow: hidden;
}
.main-banner{
	width:1190px;
	height:482px;
	margin:0 auto;
	position: relative;
}
.main-banner>img{
	position: absolute;
	top:0;
	height: 482px;
}
.main-banner .fw-bg-left{
	left:-200px;
}
.main-banner .fw-bg-right{
	right:-200px;
	z-index: 0;
}
.main-banner .main-con{
	width:1190px;
	height:482px;
	background: #fFF;
	margin:0 auto;
	position: relative;
	z-index: 3;
	float: left;
}
/*main左边导航栏*/
.main-banner .main-con .main-list{
	width:190px;
	height:482px;
	float: left;
}
.main-banner .main-con .main-list ul{
	width: 190px;
	height:482px;
	background: #252221;
	position: relative;
}
.main-banner .main-con .main-list ul li{
	width:175px;
	height:32px;
	padding: 0 8px 0 10px;
    line-height: 32px;
    border:1px solid transparent;
}
.main-banner .main-con .main-list ul li a{
	color:#fff;
	font-size: 14px;
	padding: 0 2px 0 2px;
}
.main-banner .main-con .main-list ul li a:hover{
	color:#f60;
}
.main-banner .main-con .main-list ul li em{
	display: inline-block;
    vertical-align: middle;
    height: 12px;
    width: 1px;
    opacity: .4;
    background: #d8d8d8;
    margin: 0 5px;
}
/*main二级菜单*/
.main-banner .main-con .main-list ul li:hover{
	background: #fff;
}
.main-banner .main-con .main-list ul li:hover a{
	color:#000;
}
.main-banner .main-con .main-list ul li .in-erji{
	position: absolute;
    left: 190px;
    width:1000px;
    background: #FfF;
    z-index: 999;
    top:0;
    border: 1px solid #000;
    display: none;
}
.main-banner .main-con .main-list ul li:hover .in-erji{
	display: block;
}
.main-banner .main-con .main-list ul li .in-erji .sort-btn{
	float: left;
   	width: 686px;
    height: 24px;
    margin: 10px 0 0 8px;
    overflow: hidden;
}
.main-banner .main-con .main-list ul li .in-erji .slist{
	width:750px;
	float: left;
}
.main-banner .main-con .main-list ul li .in-erji .sort-btn a{
	float: left;
    height: 24px;
    margin-left: 25px;
    padding: 0 10px;
    color: #FFF;
    line-height: 24px;
    text-align: center;
    background: #F90;
    text-decoration: none;
    font-family: "微软雅黑";
}
.main-banner .main-con .main-list ul li .in-erji dl{
	width: 750px;
	float: left;
    height: auto;
    overflow: hidden;
}
.main-banner .main-con .main-list ul li .in-erji dt{
	float: left;
    width: 84px;
    height: 20px;
    line-height: 20px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 8px;
}
.main-banner .main-con .main-list ul li .in-erji dt a{
	display: block;
    width: 84px;
    height: 20px;
    overflow: hidden;
}
.main-banner .main-con .main-list ul li .in-erji dd{
	float: left;
    width: 650px;
    font: 12px/1.5 "微软雅黑";
    line-height: 20px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    margin-top: 8px;
    padding-bottom: 8px;
}
.main-banner .main-con .main-list ul li .in-erji dd a{
	margin-right: 15px;
    display: inline-block;
}
.main-banner .main-con .main-list ul li .in-erji .actShow{
    position: absolute;
    top:0;
    right:0;
    width: 199px;
    height: 100%;
    overflow: hidden;
    background: #f3f3f3;
}
.main-banner .main-con .main-list ul li .in-erji .actShow .aca{
	width:198px;
	height:200px;
}
.main-banner .main-con .main-list ul li .in-erji .actShow .aca img{
	float: left;
	width:94px;
	height:40px;
	margin-top:5px;
	margin-left:4px;
}
.main-banner .main-con .main-list ul li .in-erji .actShow .acb{
	width:198px;
	height:300px;
	margin-top:10px;
	position: relative;
}
.main-banner .main-con .main-list ul li .in-erji .actShow .acb .img1{
	width: 198px;
    margin-bottom: 5px;
    overflow: hidden;
    position: absolute;
    top:0px;
    left:0;
}
.img2{
	 position: absolute;
	width: 198px;
    left:0;
	top:120px;
}
/*main二级菜单end*/
/*main轮播图*/
.main-banner .main-con .main-lunbo{
	width:830px;
	height:482px;
	float: left;
	overflow: hidden;
	position: relative;
	z-index: 10;
}
.main-banner .main-con .main-lunbo .lunboa{
	width:830px;
	height: 482px;
}
.main-banner .main-con .main-lunbo .lunboa div{
           position: absolute;
           top:180px;
           width:30px;
           height:60px;
           background:rgba(0,0,0,.3);
           text-align: center;
           line-height:60px;
           font-size:26px;
           display: none;
           cursor: pointer;
           color: #fff;
		}
.main-banner .main-con .main-lunbo .lunboa .carousel-left{
			left:0;
		}
.main-banner .main-con .main-lunbo .lunboa .carousel-right{
			right:0;
		}
.main-banner .main-con .main-lunbo .lunboa ol{
			position: absolute;
			bottom:150px;
			left:260px;
			width:260px;
			height: 20px;	
		}
.main-banner .main-con .main-lunbo .lunboa ol li{
			float: left;
			width: 20px;
			height: 20px;
			background:#ccc;
            border-radius: 50%;
            margin:0 6px;
            cursor: pointer;
		}
.main-banner .main-con .main-lunbo .lunboa ol li.active{
			background: #f60;
		}
.main-banner .main-con .main-lunbo .btn{
	width: 816px;
	height: 122px;
	position: absolute;
	bottom:10px;
	left:6px;
	background: rgba(255,255,255,.3);
}
.main-banner .main-con .main-lunbo .btn li{
	width:202px;
	height:122px;
	float: left;
	position: relative;
	margin-right: 2px;
	background:  rgba(255,255,255,.9);
}
.main-banner .main-con .main-lunbo .btn li p{
	width: 95px;
    height: 22px;
    line-height: 22px;
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0 0 7px;
    overflow: hidden;
    display: block;
    color: #666;
}
.main-banner .main-con .main-lunbo .btn li img{
	width:80px;
	height:80px;
    position: absolute;
   top:25px;
    right: 10px;
	display: inline;
}
/*main右半部分*/
.main-banner .main-con .main-right{
	width:170px;
	height:482px;
	float: right;
}
.main-banner .main-con .main-right .user-info{
	position: relative;
    width: 170px;
    height: 155px;
    padding: 11px 0 2px;
    border-bottom: 1px solid #f2f2f2;
}
.main-banner .main-con .main-right .user-info .user-img{
	position: relative;
    width: 52px;
    height: 52px;
    margin: 0 auto;
    background: url(../images/index/index.png) -93px -23px;
}
.main-banner .main-con .main-right .user-info p{
	width: 150px;
    height: 24px;
    margin: 8px auto 0;
    text-align: center;
    font: 12px/24px "微软雅黑";
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-banner .main-con .main-right .user-info .btn{
	width: 100%;
    margin: 6px auto 15px;
    height: 22px;
    *height: 24px;
    overflow: hidden;
    text-align: center;
}
.main-banner .main-con .main-right .user-info .btn a{
	width: 68px;
    height: 20px;
    border: 1px solid #F90;
    color: #ffa114;
    line-height: 20px;
    display: inline-block;
}
.main-banner .main-con .main-right .user-info .btn .superhy{
	display: inline-block;
    width: 70px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    margin: 0 3px;
    background: url(../images/index/index.png) -295px -251px;
}
.main-banner .main-con .main-right .user-info .enter{
	height: 18px;
}
.main-banner .main-con .main-right .user-info .enter a{
	float: left;
    width: 70px;
    height: 18px;
    margin: 0 11px 0 9px;
    background: #ffe4db;
    border-radius: 9px;
    background: url(../images/index/index.png) -670px -256px;
}
.main-banner .main-con .main-right .user-info .enter a.quai{
	margin: 0;
    background: url(../images/index/index.png) -670px -288px;
}
.main-banner .main-con .main-right .toutiao{
	width: 150px;
    height: 145px;
    overflow: hidden;
    margin: 11px 10px 11px;
    font: 12px/20px "微软雅黑";
    min-height:25px;line-height:20px;
}
.main-banner .main-con .main-right .toutiao ul{
	width:150px;
}
.main-banner .main-con .main-right .toutiao ul li{
	width: 150px;
    height: 48px;
}
.main-banner .main-con .main-right .toutiao ul li a{
	display: inline-block;
	width: 150px;
    height: 40px;
    overflow: hidden;
}
.main-banner .main-con .main-right .toutiao ul li a i{
	margin-right: 5px;
    color: #F60;
    font-style: inherit;
}
.main-banner .main-con .main-right .kuaijie{
	width: 170px;
    height: 145px;
    overflow: hidden;
    border-top: 1px solid #f2f2f2;
}
.main-banner .main-con .main-right .kuaijie li{
	float: left;
    width: 55px;
    height: 72px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #f2f2f2;
}
.main-banner .main-con .main-right .kuaijie li a{
	display: block;
    width: 100%;
    height: 62px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
}
.main-banner .main-con .main-right .kuaijie li a i{
	font-size: 24px;
    color: #f90;
}
.main-banner .main-con .main-right .kuaijie li a:hover{
	color:#f60;
}

/*商品开始*/
.tj-floor{
	position: relative;
    width: 100%;
    background: #f2f2f2;
}
.tj-floorw{
	width:1190px;
	margin:0 auto;
}
.tj-floorw .tja img{
    margin-left:0px;
    position: relative;
    width: 1190px;
    height: 373px;
}
.tj-floorw .tja .hcList-wrapper{
	width:1190px;
	height:223px;
	position: absolute;
	top:150px;
}
.tj-floorw .tja .hcList-wrapper li{
	width:230px;
	height:213px;
	float: left;
	text-align: center;
	margin-left:6px;
}
.tj-floorw .tja .hcList-wrapper li:first-child{
	margin-left:4px;
}
.tj-floorw .tja .hcList-wrapper li img{
	width: 120px;
    height: 120px;
    margin-top:7px;
}
.tj-floorw .tja .hcList-wrapper li p{
	font-size: 20px;
    line-height: 28px;
    width: 210px;
    height: 28px;
    margin: 15px auto 6px;
}
.tj-floorw .tjb{
	width: 1190px;
    min-width: 1190px;
    height: 307px;
    background: #fff;
    margin-top:20px ;
}
.tj-floorw .tjb .title{
	width: 100%;
    height: 46px;
    border-bottom: 1px solid #e7e7e7;
}
.tj-floorw .tjb .title img{
	width: 83px;
	height: 20px;
	float: left;
	margin:14px 0 0 20px;
}
.tj-floorw .tjb .title p{
	height: 16px;
	line-height: 16px;
	float: left;
	margin:14px 0 0 20px;
	display: inline-block;
}
.tj-floorw .tjb .title p.time{
	height: 20px;
	line-height: 20px;
	float: left;
	margin:14px 0 0 8px;
	display: inline-block;
	overflow: hidden;
}
.tj-floorw .tjb .title .time span{
	height: 20px;
	width:20px;
	text-align: center;
	display: inline-block;
	color:#fff;
	font-size: 14px;
	line-height: 20px;
	background: #000;
	border-radius: 2px;
}
.tj-floorw .tjb .title .tab-list{
	width:579px;
	height: 47px;
	float: left;
	margin-left: 62px;
}
.tj-floorw .tjb .title .tab-list li{
	width:133px;
	height: 24px;
	float: left;
	text-align: center;
	line-height: 24px;
	margin: 12px 60px 0 0;
	font-size: 14px;
    cursor: pointer;
}
.cur{
	background: url(../images/index/index.png) -561px 0;
    color: #FFF;
}
.tj-floorw .tjb .title a{
	position: relative;
    float: right;
    margin: 13px 10px 0 0;
    font-size: 14px;
    color: #999;
    line-height: 19px;
    padding-right: 18px;
}
.tj-floorw .tjb .area{
	width:1190px;
}
.tj-floorw .tjb .area .tab-content{
	float: left;
    width: 1000px;
    height: 260px;
    overflow: hidden;
}
.tj-floorw .tjb .area .tab-content ul{
	display: none;
}
.contershow{display: block !important;}
.tj-floorw .tjb .area .tab-content li{
	float: left;
    width: 199px;
    height: 240px;
    border-right: 1px solid #e7e7e7;
}
.tj-floorw .tjb .area .tab-content li img{
	display: block;
    width: 159px;
    height: 159px;
    margin: 10px 20px;
}
.tj-floorw .tjb .area .tab-content li p{
	width: 156px;
    height: 16px;
    margin: 0 0 0 20px;
    line-height: 16px;
    overflow: hidden;
    word-break: break-all;
}
{
	
}
.tj-floorw .tjb .area img{
	float: right;
	margin: 10px;
}
.tj-floorw .tjc{
	width:1190px;
	height:427px;
	margin:20px auto;
}
.tj-floorw .tjc .tjca,
.tj-floorw .tjc .tjcb,
.tj-floorw .tjc .tjcc{
	width:390px;
	height:427px;
	float: left;
	background: #fff;
}
.tj-floorw .tjc .tjca .title,
.tj-floorw .tjc .tjcb .title,
.tj-floorw .tjc .tjcc .title,
.tj-floorw .tjd .tjda .atitle{
	width:390px;
	height:45px;
	background: #3b8c94;
	color: #FFF;
	line-height: 45px;
	position: relative;
}
.tj-floorw .tjc .tjca .title h5,
.tj-floorw .tjc .tjcb .title h5,
.tj-floorw .tjc .tjcc .title h5,
.tj-floorw .tjd .tjda .atitle h5{
	float: left;
    padding-left: 15px;
    font: bold 18px/45px "微软雅黑";
}
.tj-floorw .tjc .tjca .title a,
.tj-floorw .tjc .tjcb .title a,
.tj-floorw .tjc .tjcc .title a,
.tj-floorw .tjd .tjda .atitle a{
	display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    float: right;
    color: #FFF;
}
.tj-floorw .tjc .tjca .title a i,
.tj-floorw .tjc .tjcb .title a i,
.tj-floorw .tjc .tjcc .title a i,
.tj-floorw .tjd .tjda .atitle i{
	font-size: 12px;
	padding: 4px;
}
.tj-floorw .tjc .tjca .content,
.tj-floorw .tjc .tjcb .content,
.tj-floorw .tjc .tjcc .content,
.tj-floorw .tjd .tjda .acenter{
	width: 369px;
    height: 362px;
    margin: 10px auto 0;
    overflow: hidden;
}
.tj-floorw .tjc .tjca .content ul li,
.tj-floorw .tjc .tjcb .content ul li{
	position: relative;
    float: left;
    width: 183px;
    height: 120px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e7e7e7;
}
.tj-floorw .tjc .tjca .content ul li img,
.tj-floorw .tjc .tjcb .content ul li img{
	width:90px;
	height:90px;
}
.tj-floorw .tjc .tjca .content ul li p,
.tj-floorw .tjc .tjcb .content ul li p{
	width: 72px;
    height: 40px;
    overflow: hidden;
    margin: 14px 0 0 15px;
    color: #333;
    font: 14px/20px "微软雅黑";
    word-break: break-all;
}
.tj-floorw .tjc .tjca .content ul li img{
	position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    bottom: 3px;
    right: 3px;
}
.tj-floorw .tjc .tjca .content ul li:nth-child(2),
.tj-floorw .tjc .tjcb .content ul li:nth-child(2),
.tj-floorw .tjc .tjca .content ul li:nth-child(4),
.tj-floorw .tjc .tjcb .content ul li:nth-child(4),
.tj-floorw .tjc .tjca .content ul li:nth-child(6){
	border-right:0;
}
.tj-floorw .tjc .tjcb .content ul li:nth-child(3),
.tj-floorw .tjc .tjcb .content ul li:nth-child(4){
	border-bottom: 0;
}
.tj-floorw .tjc .tjcb,
.tj-floorw .tjc .tjcc{
	margin-left: 10px;
}
.tj-floorw .tjc .tjcb .title .logo{
	position: absolute;
    left: 87px;
    bottom: 8px;
    width: 53px;
    height: 53px;
    background: url(../images/index/tgcblogo.png) no-repeat;
}
.tj-floorw .tjc .tjcb .content ul li{
	width: 183px;
    height: 180px;
    float: left;
}
.tj-floorw .tjc .tjcb .content ul li p.a1{
	width:auto;
	float: left;
    padding: 0 8px;
    height: 20px;
    overflow: hidden;
    margin: 14px 0 0 8px;
    color: #333;
    background: #e66a07;
    border-radius: 20px;
    color: #FFF;
    font: 14px/20px "微软雅黑";
    word-break: break-all;
    text-align: center;
}
.tj-floorw .tjc .tjcb .content ul li p{
	float: left;
    width: 144px;
}
.tj-floorw .tjc .tjcb .content ul li img{
	float: left;
	bottom: 3px;
    right: 3px;
    margin-top: 14px;
    width: 90px;
    height: 90px;
}
.tj-floorw .tjc .tjcc .content ul{
	position: relative;
    width: 369px;
    height: 166px;
    padding-top: 14px;
    border-bottom: 1px solid #e7e7e7;
}
.tj-floorw .tjc .tjcc .content ul>p{
	position: absolute;
    left: 0;
    top: 14px;
    color: #FFF;
    background: #c72c2c;
    border-radius: 12px;
    padding: 0 5px;
    height: 22px;
    font: 14px/22px "微软雅黑";
    z-index: 2;
}
.tj-floorw .tjc .tjcc .content ul li{
	position: relative;
    float: left;
    width: 123px;
    height: 166px;
}
.tj-floorw .tjc .tjcc .content ul li p{
	width: 100px;
    height: 28px;
    overflow: hidden;
    color: #333;
    margin-left: 11px;
    font: 12px/14px "微软雅黑";
}
.tj-floorw .tjc .tjcc .content ul li img{
	width:80px;
	height:80px;
	margin: 28px auto 0;
}
.tj-floorw .tjc .tjcc .content ul li p.p2{
	margin: 1px 0 0 11px;
    color: #b62323;
    font: 14px/22px "微软雅黑";
}
.tj-floorw .tjc .tjcc .content ul li span{
	position: absolute;
    width: 23px;
    height: 23px;
    top: 28px;
    right: 22px;
    background: url(../images/index/index.png) -3px -242px;
    color: #FFF;
    text-align: center;
    font: 12px/23px "微软雅黑"
}
.tj-floorw .tjc .tjcc .content ul li:nth-child(3) span{
	background: url(../images/index/index.png) -32px -242px;}
	.tj-floorw .tjc .tjcc .content ul li:nth-child(4) span{
	background: url(../images/index/index.png) -63px -242px;}
	
.tj-floorw .tjd{
	width:1190px;
	height:427px;	
}
.tj-floorw .tjd .tjda{
	float: left;
    width: 390px;
    height: 427px;
    margin-left: 10px;
    background: #FFF;
}
.tj-floorw .tjd .tjda .atitle{
    background: #c43d7e;
}
.tj-floorw .tjd .tjda .acenter ul li{
	position: relative;
    float: left;
    width: 183px;
    height: 120px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e7e7e7;
}
.tj-floorw .tjd .tjda .acenter ul li p{
	width: 144px;
    height: 16px;
    overflow: hidden;
    margin: 14px 0 0 15px;
    color: #333;
    font: 14px/20px "微软雅黑";
    word-break: break-all;
}
.tj-floorw .tjd .tjda .acenter ul li p.name{
	width: 140px;
    height: 20px;
} 
.tj-floorw .tjd .tjda .acenter ul li:first-child img{
	width: 160px;
    height: 160px;
    left: 13px;
    top: auto;
    right: auto;
    bottom: 0;
}
.tj-floorw .tjd .tjda .acenter ul li img{
	position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    bottom: 0px;
    right: 3px;
}
.tj-floorw .tjd .tjda .acenter ul li p.desc{
	width: 72px;
    height: 16px;
    overflow: hidden;
    color: #999;
    margin: 10px 0 0 15px;
    font: 12px/16px "微软雅黑";
}
.tj-floorw .tjd .tjda .acenter ul li:nth-child(2),
.tj-floorw .tjd .tjda .acenter ul li:nth-child(3),
.tj-floorw .tjd .tjda .acenter ul li:nth-child(5){
	border-right:0;
}
.tj-floorw .tje{
	width:1190px;
	height:570px;
	margin:20px auto;
}
.tj-floorw .tje .left-enter{
	width:790px;
	height: 570px;
	float: left;
	overflow: hidden;}
.tj-floorw .tje .left-enter ul li{
	position: relative;
    float: left;
    width: 388px;
    height: 140px;
    margin: 0 7px 10px 0;
    overflow: hidden;
    background: -webkit-gradient(linear,0 0,right 0,from(#e89621),to(#f5c568));
	 padding-top:44px ;
	}
.tj-floorw .tje .left-enter ul li .line{
	margin-left: 35px;
	width: 78px;
    background-position: -102px -245px;
    position: relative;
    display: inline-block;
    height: 2px;
    background: url(../images/index/index.png) -124px -245px;
    z-index: 1;
}
.tj-floorw .tje .left-enter ul li .w{
	width:154px;
	background: url(../images/index/index.png) -124px -253px;
}
.tj-floorw .tje .left-enter ul li p{
	position: relative;
    color: #FFF;
    width: 160px;
    overflow: hidden;
    z-index: 1;
    font: bold 20px/26px "微软雅黑";
    margin: 5px 0 0px 35px;
    height: 26px
}
.tj-floorw .tje .left-enter ul li p.desc{
	height: 20px;
	font-size: 14px;
	margin: 5px 0 0 35px;
	font-weight: 400;
}
.tj-floorw .tje .left-enter ul li img{
	position: absolute;
    width: 170px;
    height: 180px;
    right: 36px;
    top: 0;
    transition:all .5s;
}
.tj-floorw .tje .left-enter ul li:hover img{
	 right: 45px;

}
.tj-floorw .tje .left-enter ul li:nth-child(2){
	background: -webkit-gradient(linear,0 0,right 0,from(#325bb4),to(#4c9afe));
}
.tj-floorw .tje .left-enter ul li:nth-child(3){
	background: -webkit-gradient(linear,0 0,right 0,from(#1c9daf),to(#40cda7));
}
.tj-floorw .tje .left-enter ul li:nth-child(4){
background: -webkit-gradient(linear,0 0,right 0,from(#d13837),to(#df6d4f));
}
.tj-floorw .tje .left-enter ul li:nth-child(5){
	background: -webkit-gradient(linear,0 0,right 0,from(#ca4283),to(#eb75cf));
}
.tj-floorw .tje .left-enter ul li:nth-child(6){
	background: -webkit-gradient(linear,0 0,right 0,from(#5d40c1),to(#8c5fdb));
}
.tj-floorw .tje .sp-wrapper{
	width:390px;
	height:377px;
	float: right;
	margin-left: 10px;
}
.tj-floorw .tje .sp-wrapper .title{
	width: 100%;
    height: 45px;
    color: #FFF;
    background: #3f3435;
}
.tj-floorw .tje .sp-wrapper .title h5{
	float: left;
    padding-left: 15px;
    font: bold 18px/45px "微软雅黑";
}
.tj-floorw .tje .sp-wrapper .bigshow-wrapper{
	position: relative;
    width: 390px;
    height: 227px;
    overflow: hidden;
}
.tj-floorw .tje .sp-wrapper .bigshow-wrapper ul{
	height: 227;
}
.tj-floorw .tje .sp-wrapper .bigshow-wrapper ul li{
	position: absolute;
    display: none;
    width: 390px;
    height: 227px;
    cursor: pointer;
}
.tj-floorw .tje .sp-wrapper .bigshow-wrapper ul li.tjeblock{
	display: block;
}
.tj-floorw .tje .sp-wrapper .bigshow-wrapper ul li img{
	display: block;
    width: 390px;
    height: 227px;
}
.tj-floorw .tje .sp-wrapper .bigshow-wrapper ul li .black{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .15;
    background: #000;
}
.tj-floorw .tje .sp-wrapper .bigshow-wrapper ul li:hover span{
	background: url(../images/index/index.png) -391px 0px;
}
.tj-floorw .tje .sp-wrapper .bigshow-wrapper ul li span{
	position: absolute;
    top: 80px;
    left: 170px;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/index/index.png) -190px 0;
}
.tj-floorw .tje .sp-wrapper .bigshow-wrapper ul li i{
	position: absolute;
    top: 19px;
    left: 41px;
    width: 49px;
    padding-left: 14px;
    text-align: center;
    height: 18px;
    color: #FFF;
    font: 10px/18px "微软雅黑";
    background: url(../images/index/index.png) -320px 0;
}
.tj-floorw .tje .sp-wrapper .bigshow-wrapper ul li .cover{
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: rgba(0,0,0,.5);
    color:#fff;
    font-size: 14px;
    line-height: 45px;
    padding-left:16px;
    box-sizing: border-box;
}
.tj-floorw .tje .sp-wrapper .bon{
	width:390px;
	height:93px;
	margin-top:12px ;
	overflow: hidden;
	position: relative;
}
.tj-floorw .tje .sp-wrapper .bon ul{
	position: absolute;
    top: 0;
    width: 10000px;
    height: 93px;
}
.tj-floorw .tje .sp-wrapper .bon ul li{
	position: relative;
    float: left;
    width: 128px;
    height: 93px;
    margin-right: 3px;
    cursor: pointer;
}
.tj-floorw .tje .sp-wrapper .bon ul li img{
	display: block;
    width: 128px;
    height: 93px;
}
.tj-floorw .tje .sp-wrapper .bon ul li .black{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgb(0,0,0,.2);
}
.tj-floorw .tje .sp-wrapper .bon ul li span{
	position: absolute;
    top:35px;
    left: 51px;
    display: block;
    width: 25px;
    height: 25px;
    background: url(../images/index/index.png) -252px 0;
}
.tj-floorw .tje .sp-wrapper .bon ul li:hover span{
	background: url(../images/index/index.png) -252px -28px;
}
.tj-floorw .tje .sp-wrapper .bon ul li p{
	position: absolute;
    width: 112px;
    height: 20px;
    left: 8px;
    color: #FFF;
    bottom:8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: 10px/20px "微软雅黑";
}
.tj-floorw .tje .sp-wrapper .bon a{
	position: absolute;
    display: none;
    width: 14px;
    height:93px;
    top: 10px;
    background: url(../images/index/index.png) -284px 0;
}
.tj-floorw .tje .sp-wrapper .bon a.le{
	left:0;
}
.tj-floorw .tje .sp-wrapper .bon a.ri{
	background: url(../images/index/index.png) -304px 0;
	right:0;
}
.tj-floorw .tje .right-enter{
	float: right;
    width: 390px;
    height: 180px;
    margin: 12px 0 0 10px;
    overflow: hidden;
}
.tj-floorw .tje .right-enter ul li{
	position: relative;
    float: left;
    width: 190px;
    height: 180px;
    margin: 0 10px 0 0;
    overflow: hidden;
    background: -webkit-gradient(linear,0 0,right 0,from(#6ea166),to(#9fc766));
}
.tj-floorw .tje .right-enter ul li a{
	color: #FFF;
    width: 120px;
    overflow: hidden;
    font: bold 20px/26px "微软雅黑";
    height: 26px;
    margin: 10px 0 0px 35px;
    display: inline-block;
}
.tj-floorw .tje .right-enter ul li a:nth-child(2){
	font: 14px/20px "微软雅黑";
    height: 20px;
    width: 126px;
    margin: 0 0 0 35px;
}
.tj-floorw .tje .right-enter ul li img{
	width:160px;
	margin:10px 0 0 10px;
	transition: all .2s;
}
.tj-floorw .tje .right-enter ul li:hover img{
	margin-top:0px;
}
.tj-floorw .tje .right-enter ul li:nth-child(2){
	background: -webkit-gradient(linear,0 0,right 0,from(#4023bb),to(#5871e9));
	margin-right: 0;
}
.tj-floorw .tjf{
	width:1190px;
	height:100px;
}
.tj-floorw .tjf img{
	width:396px;
	height:100px;
	float: left;
}
/*楼层开始*/
.louceng{
	width:1190px;
	height: auto;
	position: relative;
	min-height: 800px;
}
.louceng ul.tbar{
	width:68px;
	background: #f8f8f8;
	position: fixed;
	left:50%;
	margin-left:-670px;
    top:60px;
    display: none;
}
/*楼层第一层开始*/
.louceng .tbar li{
	width: 68px;
    height: 28px;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    line-height: 28px;
    cursor: pointer; 
}
.louceng .tbar .float-bg{
	position: absolute;
    width: 45px;
    height: 37px;
    left: 13px;
    top: -29px;
    z-index: 1;
    background: url(../images/index/index.png) -302px -80px;
}
.tbar li.active{
	background: #f90;
	color:#fff;
}
.louceng>.tbar>.backtop{
	text-align: center;
	height:29px;
	line-height: 29px;
	cursor: pointer;
}
.louceng ol.layer{
	width:1190px;
}
.louceng .layer>li{
	width:1190px;
	height:562px;
	margin-top:20px;
}
.louceng .layer>li>.left{
	float: left;
    width: 590px;
    height: 560px;
    background: #FFF;
    border-top: 2px solid #FFF;
    box-shadow: 0 0 8px #eee;
    border-color: #33ae75;
}
.louceng .layer>li>.left>.title{
	width: 100%;
    height: 45px;
    background: #f0f7f4;
}
.louceng .layer>li>.left>.title>.title-name{
	background: #33ae75;
	float: left;
    width: 190px;
    height: 45px;
}
.louceng .layer>li>.left>.title>.title-name>p{
	float: left;
    color: #FFF;
    margin-left: 15px;
    font: bold 18px/40px "微软雅黑";
}
.louceng .layer>li>.left>.title>.title-name>i{
	position: relative;
    float: left;
    width: 24px;
    height: 24px;
    margin: 10px 0 0 10px;
    font-size: 22px;
   	color:#fff;
}
.louceng .layer>li>.left>.title>.keyword{
	width:380px;
	height: 20px;
	float: right;
    margin: 14px 18px 0 0;
}
.louceng .layer>li>.left>.title>.keyword>a{
	float: right;
    margin-left: 20px;
    font: 14px/20px "微软雅黑";
    color: #666;
    text-decoration: none;
}
.louceng .layer>li>.left>.title>.keyword>a:hover{
	color: #f60;
}
.louceng .layer>li>.left>.content{
	width: 100%;
    height: 360px;
    position: relative;
}
.louceng .layer>li>.left>.content>.img{
	position: relative;
    width: 190px;
    height: 360px;
    cursor: pointer;
   	float: left;
}
.louceng .layer>li>.left>.content>.img>img{
	display: block;
    width: 190px;
    height: 360px;
}
.louceng .layer>li>.left>.content>.img>.cover{
	background: #33ae75;
	position: absolute;
    width: 190px;
    height: 90px;
    left: 0;
    bottom: 0;
    opacity: .6;
}
.louceng .layer>li>.left>.content>.img>p{
	position: absolute;
    top: 285px;
    left: 14px;
    width: 160px;
    height: 30px;
    overflow: hidden;
    color: #FFF;
    font: bold 20px/30px "微软雅黑";
}
.louceng .layer>li>.left>.content>.img>p:nth-child(4){
	position: absolute;
    top: 315px;
    height: 22px;
    font: 12px/22px "微软雅黑";
}
.louceng .layer>li>.left>.content>.clearfix{
	width: 400px;
    height: 360px;
	float: right;
}
.louceng .layer>li>.left>.content>.clearfix>ul{
	width:400px;
	height:360px;
}
.louceng .layer>li>.left>.content>.clearfix>ul>li{
	float: left;
	position: relative;
    width: 199px;
    height: 179px;
    border-width: 0 0 1px 1px;
    border-color: #EEE;
    border-style: solid;
    overflow: hidden;
}
.louceng .layer>li>.left>.content>.clearfix>ul>li>p{
	width: 180px;
    height: 24px;
    overflow: hidden;
    text-align: center;
    margin: 14px auto 0;
    font: 16px/24px "微软雅黑";
    color: #333;
}
.louceng .layer>li>.left>.content>.clearfix>ul>li>p:nth-child(2){
	color: #33ae75;
    height: 20px;
    margin: 0 auto;
    font: 12px/20px "微软雅黑";
}
.louceng .layer>li>.left>.content>.clearfix>ul>li>img{
	display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    transition:all .5s;
}
.louceng .layer>li>.left>.content>.clearfix>ul>li:hover img{
	width:125px;
	height:125px;
}
.louceng .layer li .left .list{
	position: relative;
    width: 100%;
    height: 109px;
    overflow: hidden;
    border-bottom: 1px solid #EEE;
}
.louceng .layer li .left .list li{
	position: relative;
    float: left;
    display: list-item;
    border-right: 1px solid #EEE;
    width: 195px;
}
.louceng .layer li .left .list li p{
	width: 70px;
    color: #333;
    height: 24px;
    margin-top: 27px;
    padding-left: 20px;
    overflow: hidden;
    font: 14px/24px "微软雅黑";
}
.louceng .layer li .left .list li p:nth-child(2){
	width: 72px;
    height: 22px;
    padding-left: 20px;
    margin-top:0px;
    overflow: hidden;
    font: 12px/22px "微软雅黑";
    color: #33ae75;
}
.louceng .layer li .left .list li img{
	position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 80px;
    height: 80px;
    transition: all .5s;
}
.louceng .layer li .left .list li:hover img{
	width: 85px;
    height: 85px;
}
.louceng .layer li .left .list>li:nth-child(3)
{border-right:0;}
.louceng .layer li .left .logo{
	width:590px;
	height:40px;
}
.louceng .layer li .left .logo img{
	display: block;
	width:80px;
	height:30px;
	float: left;
	margin: 9px 9px 0 9px;
}
.louceng .layer li .right{
	float: right;
	border-color: #2eaba3;
}
.blue{
color: #2eaba3 !important;	
}
/*猜你喜欢*/
.cainilove{
	width:100%;
	height: auto;
	min-height: 720px;
}
.cainilove>.title{
	width: 100%;
    height: 22px;
}
.cainilove>.title>span{
	float: left;
    width: 3px;
    height: 20px;
    background: #fe9901;
}
.cainilove>.title>h5{
	float: left;
    margin-left: 12px;
    font: bold 18px/20px "微软雅黑";
}
.cainilove>.cont{
	width:100%;
	min-height: 500px;
	margin-top:10px;
}
.cainilove>.cont>ul{
	width:1190px;
	height: 340px;
	background: #f60;
}
.cainilove>.cont>ul>li{
	position: relative;
    float: left;
    width: 237px;
    height: 340px;
    margin: 1px 0 0 1px;
    background: #FFF;
    overflow: hidden;
    text-align: center;
}
.cainilove>.cont>ul>li>img{
	width: 200px;
    height: 200px;
    margin: 20px auto 0;
    transition: all .5s;
}
.cainilove>.cont>ul>li>p{
	width: 193px;
	height: 40px;
    margin: 10px auto 5px;
    overflow: hidden;
    font: 12px/20px "微软雅黑";
}
.cainilove>.cont>ul>li>p:nth-child(3){
	margin:0;
	height: 19px;
	text-align: left;
	margin-left: 20px;
    color: #F60;
    font: bold 16px/18px "微软雅黑";
}
.cainilove>.cont>ul>li>p>i{
	font-size: 12px;
}
.cainilove>.cont>ul>li>p:nth-child(4){
	width: 200px;
	height: 16px;
	margin: 7px auto 0;
    overflow: hidden;
}
.cainilove>.cont>ul>li>p:nth-child(4) span{
    display: block;
    float: left;
    padding: 0 2px;
    height: 16px;
    color: #FFF;
    font: 12px/16px "微软雅黑";
    background: #F40;
    margin-right: 10px;
    border-radius: 3px;
}
.cainilove>.cont>ul>li>a{
	position: absolute;
    right: 22px;
    width: 44px;
    height: 20px;
    border: 1px solid #f60;
    border-radius: 4px;
    bottom: 36px;
    text-align: center;
    color: #F60;
    line-height: 20px;
}
/*楼层end*/

/*尾部开始*/
.footer{
	width:100%;
	height: 185px;
	display: block;
	background: #fff;
	margin-top:10px;
}
.footerN{
	width:1190px;
	height: 185px;
	margin:0 auto;
}
.footerN .footerNa{
	width:1190px;
	height: 60px;
	margin:0 auto;
}
.footerN .footerNa p{
	line-height: 25px;
	height: 25px;
	text-align: center;
	color:#444;
	margin:0;
}
.footerN .footerNa a{
	margin:auto 9px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	color: #666;
}
.footerN .footerNa a:hover{
	color:#f60;
	text-decoration: underline;
}
.footerN p{color:#ccc; text-align: center;}
.footerN .footerNb{
	width:400px;
	height:26px;
	margin:0 auto;
	margin-top:8px;
}
.footerN .footerNb img{margin-left:20px;}

